body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Caja1 { background-color: aquamarine;
  width: 130px;
  height: 120px;
  /*padding: 0px 0px 0px 10px; */
  padding: 15px;
  border: 3px solid black;
  margin: 15px 20px 12px 10px;
  padding-left: 10px;
  box-sizing: content-box
}
.Caja2 { background-color: rgb(90, 123, 90);
  color: rgb(255, 255, 255);
  width: 130px;
  height: 120px;
  /*padding: 0px 0px 0px 10px; */
  padding: 15px;
  border: 3px solid rgb(193, 3, 79);
  margin: 15px 20px 12px 10px;
  padding-left: 10px;
  box-sizing: content-box
}
.Caja3 { background-color: rgb(47, 255,gi 47);
  width: 130px;
  height: 120px;
  /*padding: 0px 0px 0px 10px; */
  padding: 15px;
  border: 3px solid rgb(46, 10, 10);
  margin: 15px 20px 12px 10px;
  padding-left: 10px;
  box-sizing: content-box
}